/************ Pokemon Card ***************/

@import "styles/_index.scss";

.pokemon-card {
  width: 350px;
  height: 500px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 2px solid $poke-yellow;
  border-radius: 15px;
}

@media only screen and (max-width: 400px) {
  .pokemon-card {
    width: 90%;
    height: 450px;
    padding: 5px 0;
    margin-bottom: 0;
  }
}

.pokemon-card-container {
  height: 100%;
  width: 90%;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-content: space-around;
  p {
    margin: 0;
    padding: 0;
  }
}

.name-number-container {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 10%;
  text-transform: capitalize;
  align-items: center;
  padding-top: 5px;

  .hp-types-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    // background-color: $poke-yellow;
    border-radius: 1rem;
    min-width: fit-content;
    height: 50%;
    padding: 7px;
    gap: 5px;

    .type-container {
      display: flex;
      flex-direction: row;
      align-items: center;
      gap: 2.5%;

      .type-item {
        display: flex;
        align-items: center;

        .type-icon {
          width: 20px;
          height: 20px;

          path {
            fill: currentColor;
            stroke: black;
            stroke-width: 8;
          }
        }
      }
    }
  }
}

.sprite-container {
  width: 100%;
  height: 60%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

img.pokemon-sprite {
  // To white out sprite so the user can guess uncomment code below
  // filter: brightness(0) invert(1);
  width: 90%;
  height: 95%;
}

.stats-container {
  height: fit-content;
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  row-gap: 7%;
  justify-content: center;
  align-items: center;
  text-transform: capitalize;
  padding-bottom: 7%;
  h3 {
      padding: 0;
      margin: 0;
    }
  div {
    display: flex;
    flex-direction: row;
    gap: 5%;
    p {
      padding: 0;
      margin: 0;
      align-self: center;
    }
  }
}

.pokemon-name {
  display: flex;
  justify-content: center;
  margin: 15px 0;
  padding: 0;
}

.pokemon-number {
  display: flex;
  justify-content: center;
}
