/************ Arrow Buttons ***************/

@import 'styles/_index.scss';

.arrows-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  @media only screen and (max-width: 450px) {
    .arrows-container {
      margin-top: 20px;
    }
  }
   
  .left-arrow-container {
    cursor: pointer;
    color: white;
    z-index: 2;
  }
  
  .right-arrow-container {
    cursor: pointer;
    color: white;
    z-index: 2;
  }
  
  .arrows-container {
    display: flex;
    height: fit-content;
    justify-content: center;
  }