@import './styles/index';

/************ Layout & Basic Setup ***************/

.app-container {
  display: flex;
  flex-direction: column-reverse;
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
}

@media only screen and (max-width: 900px) {
  .app-container {
    flex-direction: column-reverse;
    scroll-behavior: smooth;
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 40px 0;
  }
}

.left-action-components {
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: center;
  align-items: center;
}

@media only screen and (max-width: 900px) {
  .left-action-components {
    margin: 0 0 40px 0;
    height: 250px;
  }
}

.right-components {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 40px 0;
  justify-content: center;
  align-items: center;
}

@media only screen and (max-width: 900px) {
  .right-components{
    width: 100%;
    padding: 40px 0;
  }
}

/************ Action Components Layout ***************/

.action-components-container {
  height: fit-content;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: space-between;
}

@media only screen and (max-width: 450px) {
  .action-components-container{
    display: flex;
    justify-content: center;
    align-content: center;
    width: 100%;
    padding: 40px 0;
    height: 350px;

  }
}

/************ Autocomplete ***************/

input {
  padding: 8px;
  width: 300px;
  height: 20px;
  border: none;
}
.no-autocomplete {
  color: $secondary-text-color;
  padding: 8px;
}
.autocomplete {
  position: absolute;
  border: 1px solid $poke-yellow;
  list-style: none;
  margin-top: 0;
  overflow-y: visible;
  padding-left: 0;
  width: 100%;
  max-height: fit-content;
  top: 145px;
  text-transform: capitalize;
  text-align: center;
  border-radius: 5px;
}

@media only screen and (max-width: 900px) {
  .autocomplete {
    top: 98px;
  }
}

.autocomplete li {
  padding: 8px;
  background: black;
  color: $secondary-text-color;
  cursor: pointer;
}
.autocomplete > .active,
.autocomplete li:hover {
  background-color: $secondary-black;
  cursor: pointer;
  font-weight: 700;
  color: white;
}
.autocomplete li:not(:last-of-type) {
  border-bottom: 1px solid $poke-yellow;
}