@use './styles/index' as *;

/************ Layout & Basic Setup ***************/

.app-container {
  display: flex;
  flex-direction: column-reverse;
  justify-content: flex-end;
  height: 100dvh;
  width: 100%;
  padding: 20px 0;
  margin: 0;
  gap: 2.5%;
}

@media only screen and (max-width: 900px) {
  .app-container {
    flex-direction: column-reverse;
    scroll-behavior: smooth;
    height: 100dvh;
    width: 100%;
    margin: 0;
  }
}

.left-action-components {
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: center;
  align-items: center;
}

@media only screen and (max-width: 900px) {
  .left-action-components {
    margin: 0 0 20px 0;
    height: fit-content;
  }
}

.right-components {
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: center;
  align-items: center;
}

@media only screen and (max-width: 900px) {
  .right-components{
    width: 100%;
  }
}

/************ Action Components Layout ***************/

.action-components-container {
  height: fit-content;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: space-between;
  gap: 20px;
  width: 350px;
}

@media only screen and (max-width: 450px) {
  .action-components-container{
    display: flex;
    justify-content: center;
    align-content: center;
    width: 100%;
    height: fit-content;
    gap: 15px;
  }
}

/************ Autocomplete ***************/

input {
  padding: 8px;
  width: 300px;
  height: 20px;
  border: none;
}
.no-autocomplete {
  color: $secondary-text-color;
  padding: 8px;
}
.autocomplete {
  position: absolute;
  border: 1px solid $poke-yellow;
  list-style: none;
  margin: 0;
  overflow-y: visible;
  padding-left: 0;
  width: 100%;
  max-height: 200px;
  overflow-y: auto;
  top: 100%;
  left: 0;
  text-transform: capitalize;
  text-align: center;
  border-radius: 5px;
  z-index: 1000;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.3);
}

.autocomplete li {
  padding: 8px;
  background: black;
  color: $secondary-text-color;
  cursor: pointer;
}
.autocomplete > .active,
.autocomplete li:hover {
  background-color: $secondary-black;
  cursor: pointer;
  font-weight: 700;
  color: white;
}
.autocomplete li:not(:last-of-type) {
  border-bottom: 1px solid $poke-yellow;
}